log:
  level: INFO

accessLog: 
  filePath: "/var/log/traefik/access.log"
  format: common

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  
  # websecure:
  #   address: ":443"

providers:
  docker:
    exposedByDefault: false
    network: traefik-network
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

ping:
  entryPoint: web  

experimental:
  plugins:
    jwt-middleware:
      moduleName: "github.com/agilezebra/jwt-middleware"
      version: "v1.3.4"
